body{
    box-shadow: 10px 10px 20px black;
    margin: 10px 70px;
    border-radius: 15px;
    width: 90%;
}
hr{
    width: 80%;
}
form{
    width: 60%;
    margin: 10px 200px;
}
label{
    padding: 12px;
    font-weight: bold;
}

#h3{
    font-size: 30px;
    text-shadow: 2px 2px 10px black;
    text-align: center;
    padding-top: 15px;
}

input{
    background-color: bisque;
    margin: 10px 50px;
    width: 50%;
    padding: 7px;    
    border-radius: 10px;
}
#captcha{
    width: 20%;
}
a{
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
    background-color: brown ;
    color: white;
    border-radius: 10px;
}

.button{
    padding: 10px 25px;
    text-align: center;
    margin-left: 40%;
    background-color: rgb(57, 104, 57);
    font-size: 15px;
    font-weight: bolder;
    border-radius: 8px;
}

#h3thankyou{
    margin: 0px 20px;
    padding: 30px;
    font-size: 30px;
}
.td{
    padding:20px 70px;
    margin: 0px 10px;
    font-size: large;
}
#text{
    width: 20%;
}

.submitbtn{
    padding: 10px 25px;
    margin-left: 80px;
    background-color: rgb(57, 104, 57);
    font-size: 15px;
    font-weight: bolder;
    border-radius: 8px;
}
#words{
    margin-left: 40px;
}
#demo{
    margin-left: 40px;
}